.header
{
    height: 90vh;
    position: relative;
    background-image: cover;
    background-position: top;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.2);

        &__text-box
        {
        position: absolute;
        top: 40%;
        left: 70%;
        transform: translate(-50%, -50%);
        text-align: center;
        } 

}

img
{
 position:absolute;
 left: 0rem;//to fit the images in the middle of the screen
 height: 90vh;
 width: 100%;
 
}

.fade {

    animation-name: fade;
    animation-duration: 1.5s;
  }
  

.heading-primary
{
    color:$color-white;
    text-transform: uppercase;
    margin-bottom: 6rem;

    &--main
    {
        
    display: inline-block;
    font-size: 8rem;
    font-weight: 600;
    letter-spacing: 3rem; 
    float: right;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;

    }

    &--sub
    {
        display: inline-block;
        font-size: 3rem;
        font-weight: 700;
        letter-spacing: 1rem;
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-delay: 0s;
        animation-timing-function: ease-in

    }
}
