.navigation
{
    z-index: 100;

    // hide checkbox
    &__checkbox
    {
       display:none;
    }
    // the plus icon 
    &__icon
    {
        z-index: 102;
        top: 3rem;
        right: 1.17rem;
        position: relative;
        transition: all .2s;
        cursor: pointer;
        
        &,&::before,&::after
        {
            width: 3.5rem;
            height: .32rem;
            background-color: $color-black;
            display: inline-block;
            position: absolute;    
        }
        // roating to sign
        &::before,&::after
        {
        content: "";
        position: absolute;
        transition: all .1s;
        }
        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
        }

        &::before { top: -.8rem; }
        &::after { top: .8rem; }
    }

    // background near the "+"
    &__background
    {
       
        z-index: 10;
        height:100%;
        width: 30rem;
        position: fixed;
        top: 1rem;
        right: 1rem;
        opacity: 0;
        background-image: radial-gradient($color-tertiary-light,$color-tertiary-dark);
        box-shadow: 0 1rem 6rem rgba($color-black,0.99);
        transform: translateX(70%);     
        transition: all .3s ;
    }
        // background near the "+"
    &__button
    {
        z-index: 102;
        background-color:$color-white;
        position: fixed;
        top: 4rem;
        right: 4rem;

        height: 6rem;
        width: 6rem;
        
        border-radius: 50%;
        z-index: 15;
        box-shadow: 0 1rem 6rem rgba($color-black,0.23);
        cursor: pointer;
        transition: all .3s;
     
    }

    
    // icon effect
    &__checkbox:checked + &__button &__icon {
        background-color: transparent;
    }

    &__checkbox:checked + &__button &__icon::before {
        top: 0;
        transform: rotate(135deg);
    }

    &__checkbox:checked + &__button &__icon::after {
        top: 0;
        transform: rotate(-135deg);
    }

    &__checkbox:checked ~ &__background 
    {
        transform: translateX(0);       
        opacity: 1;
       
    }
    &__checkbox:checked + &__button 
    {
        transform: rotate(180deg)scale(0.89);
       
    }


    // navigation list and nav
    &__nav
    {
      
        top: 10rem; //to send the list to top
        right: 0;
        position:fixed;
        z-index: 14;
        opacity: 0;
        transform: translateX(50%);
        transition: all .3s;
    }
    &__list
    {
    list-style: none;
    text-align: end;
    margin-top: 10rem;
   
    }
    &__item
    {
        color: black;
        margin: 1.5rem;
       
    }
    &__link
    {
        &:link,&:visited
        {
        width: 20rem;
        border-radius: 3rem;
        background-color: $color-secondary-dark;
        display:inline-block;
        font-size: 1.6rem;
        font-weight: 400;
        padding: 1rem 1rem;
        text-decoration: none;
        text-transform: uppercase;
        color: $color-black;
        transition: all .3s;
        } 
    }
    // when the button is clicked
    &__checkbox:checked ~ &__nav
    {
        transform: translateX(-20%);
        opacity: 1;
      
    }
}







//status bar
.statusBar
{

    //search box//

    &__full-width
    {
    width: 100%;
    box-sizing: border-box;

    
    &.search
    {
        position: relative;
        background: $color-black;
        padding: 1rem 10rem;
        display: none;

    }
    }

   
&__search-form 
{
    position: relative;
    padding-left: 2rem;


    & input
    {
    width: 100%;
    height: 3rem;
    background: none;
    border: none;
    outline: none;
    color: $color-white;
    font-size: 3rem;

    
    &::placeholder
    {
        color: rgba($color-white,0.3);
    }

    }


//search bar search icon
    &::before{
        content: '\f002';
        position: absolute;
        top: 0rem;
        color: $color-white;
        font-family: fontAwesome;
        left: -1rem;
        font-size: 2rem;
        cursor: pointer;

    }


}

//search bar close icon
&__close
{
    color: $color-white;
    position: absolute;
    right: 2rem;
    top: 0rem;
    cursor: pointer;
    font-size: 2rem;

}



//navbar

&__full-width
{
    position: relative;
    font-size: 1.4rem;
 

    &.navbar
    {
        z-index: 100;
        background-color: $color-tertiary-light;
        padding: 1.5rem ;
        
    }


}


//brand VSA
&__brand{
    float: left;
    color: $color-white;
    font-size: 2.5rem;
    font-weight: 800;
}


//list 
&__list{
    position: absolute;
    right: 10%;
    top: -1%;
    display: flex;
    
   
}



//list items
&__item{

    list-style: none;
    padding: 0 2rem;
   
   
    


    //search icon
    &--icon
    {
        list-style: none;
        font-size: 2rem;
        cursor: pointer;
        border-radius: 1rem;
      
       

    }  

    
    //bell icon
    &--bell
    {
        list-style: none;
        font-size: 2rem;
        cursor: pointer;
        border-radius: 1rem;
        margin-left: 7rem;
      
       

    }  

    
    //user icon
    &--user
    {
        list-style: none;
        font-size: 2rem;
        cursor: pointer;
        border-radius: 1rem;
      
       

    }  


}





//link a
&__link
{
    display: inline-block;
    color: $color-white;
    text-decoration: none;
    font-size: 2.5rem;
    margin-top: .4rem;

    &:hover
    {
        color: $color-tertiary-dark;
        border-radius: 1rem;
        cursor: pointer;
     

         
    }
}


//span element
&__span
{
    position: relative;
    background:$color-black;
    top: 30px;
    left: -1rem;
    font-size: 1.4rem;
    padding: .3rem;
    border-radius: .5rem;
    transition: .5s;
    z-index: 4;
    opacity: 0;
    visibility: hidden;  


    //arrow on span element
    &::before
    {
       content: "";
       position: absolute; 
       top: -4px;
       left: 1rem;
       width: 1rem;
       height: 1rem;
       background: $color-black;
       transform: rotate(45deg);
       z-index: 1;

    }

}


//display spanm element on hover 
&__link:hover &__span
{
    color: $color-white;
    opacity: 1;
    visibility: visible;
    animation-name: ring;

}



}




//fixed class for navbar
.fixed
{
    position: fixed;
    top: 0;
    width: 100%;

}


 













