.dashboard {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: $color-grey-light-2;

  &__header{
    background-image: linear-gradient(to right,rgba($color-tertiary-light,.88),rgba($color-tertiary-dark-1,.88));
    padding: 2rem;

  }
  &__title{
    margin-left: 7rem;
    color: $color-white;
  }
  &__vcontainer {
    padding: 1rem;
    padding-top: 4rem;
  }
  &__list {
    list-style-type: none;
    padding-left: 8rem;

    &--items {
      background-color: $color-grey-light-2;

      margin-top: 3rem;
      width: 89%;
      border-radius: 1.5rem;
      border: 0.1rem solid $color-tertiary-dark-1;
      &:hover {
        box-shadow: 0 1rem 1rem rgba($color-tertiary-dark-1, 0.66);
      }
      &:hover .videodelete {
        display: block;
      }
    }
  }
  &__vcard {
    width: 100%;
    height: 30rem;
    padding: 2.5rem;
    padding-left: 8rem;
  }
  &__video {
    width: 25%;
    height: 25rem;
    float: left;
  }
  &__description {
    width: 75%;
    height: 25rem;
    float: left;
    padding: 3rem;

    &--title{
      font-weight: 900;
      color: $color-tertiary-light-2;
    }
  }
}

.floating--btn {
  position: absolute;
  border-radius: 2rem;
  padding: 0.8rem;
  top: 12%;
  right: 2%;
  z-index: 1;
  position: fixed;
  font-size: 2.3rem;
  color: $color-white;
  background-color:$color-grey-dark-3;
  &:hover{
    background-color: $color-tertiary-dark-1;
    transform: translateY(-.2rem);
  }
}
// the delete button is hidden the pointer is hover to the video division
.videodelete {
  display: none;
}
// blur effect when delete confirmation message box appears
.blur{
  filter: blur(2px);
  position: fixed;
}




  // confirmation box for delete
  .deletemsgbox{
    display: none;
    width: 50rem;
    height: 25rem;
    list-style-type: none;
    text-align: center;
    position: absolute;
    border: .2rem solid $color-black;
    background-color: $color-grey-light-2;
    top: 50%;
    left: 30%;


    //color changing conatiner
    &__inside
    {
      width: 49.7rem;
      height: 24.6rem;


    }


    
    // the list items
    &__listitems{
      width: 100%;
      font-size: 2rem;
      position: absolute;
      top: 8rem;
      left: -.1rem;
    }

    &__yes{
      margin: .55rem;
      padding: 1rem;
      font-weight: 700;
      position: absolute;
      top: 19rem;
      left: 17rem;

    
    
    }
    &__no{
      margin: .55rem;
      padding: 1rem;
      font-weight: 700;
      position: absolute;
      top: 19rem;
    }
  }


  //on hover on yes
  .deletemsgbox__yes:hover ~ .deletemsgbox__inside
  {
    transition: all .9s;
    background:red;

  }



  //on hover on no
  .deletemsgbox__no:hover ~ .deletemsgbox__inside
  {
    transition: all .9s;

    background:green;

  }
