.dashboard {
  width: 100%;
  height: auto;

  &__header {
    background-image: linear-gradient(to right, rgba($color-tertiary-light, 0.88), rgba($color-tertiary-dark-1, 0.88));
    padding: 2rem;
  }
  &__title {
    margin-left: 8rem;
    color: $color-white;
  }
  // grid layout for the dashboard
  &__vcontainer {
    padding: 1rem;
    padding-top: 4rem;
    display: grid;
    grid-template-rows: repeat(minmax(150px, max-content));
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 8rem;
    padding: 10rem;
    padding-top: 6rem;
    padding-left: 15rem;
    padding-right: 15rem;
  }
  // the video card stored in video--card.scss--->

}
// the delete button is hidden the pointer is hover to the video division
.videodelete {
  background: transparent;
  color: $color-white;
  padding-top: .77rem;
  display: none;

}

// for the timpestamp of the video
.timestamp {
  font-size: 1.4rem;
}

// for the upload button
.floating--btn {
  position: absolute;
  border-radius: 2rem;
  padding: 0.8rem;
  top: 12%;
  right: 2%;
  z-index: 1;
  position: fixed;
  font-size: 2.3rem;
  outline: none;
  color: $color-white;
  background-color: $color-grey-dark-3;
  &:hover {
    background-color: $color-tertiary-dark-1;
    transform: translateY(-0.2rem);
  }
}

