//slider section//
.main
{
    background-color: $color-white;
}

//header conatiner
.head
{
    width: 100%;
    height: 97vh;
    position: sticky;
    top: 0;
    z-index:-1;
    
}


//feature section

.feature
{
    background-image: linear-gradient(to right bottom,rgba(46, 19, 199, 0.500),rgba(18, 207, 240, 0.500)),url("../img/head.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    @include respond(phone){
        background-attachment: fixed;
    }

}



//learning section//
.learning
{
    padding: 5rem 0 5rem 0;//top right bottom left
    
    background-size: cover;
    background-image: linear-gradient(to right bottom, 
    rgba($color-primary-light, .75), 
    rgba($color-primary-dark, .75));


}



//club activities section//
.club
{
    padding: 5rem 0 5rem 0;
    background-size: cover;
    background-image: linear-gradient(to right bottom, 
    rgba($color-secondary-light, .55), 
    rgba($color-secondary-dark, .55));
}



//event section//
.event
{
    padding: 5rem 0 8rem 0;
    background-size: cover;

    background-image: linear-gradient(to right bottom, 
    rgba($color-tertiary-light, .65), 
    rgba($color-tertiary-dark, .65));
}




