.login
{   height: 97vh;
   

    &__left
    {
        width: 61.84%;
        height: 100vh;
        float: left;
        background-image: linear-gradient(to right bottom,rgba($color-tertiary-dark,0.1),rgba($color-primary-light,0.19)),
        url('../../img/back-1.jpg') ;
        background-size: cover;
    }


    &__right
    {   position: relative;
        float: left;
        width: 38%;
        height: 100vh;
        padding-top: 4rem;
        padding-left: 1rem;
        padding-right: 2rem;
        background-image: linear-gradient(to right bottom,rgba($color-tertiary-dark,0.31),rgba($color-primary-light,0.19));
        box-shadow: 1rem 1rem 3rem rgba($color-black,0.74);
    }

    // positioning the img in the login page
        &__logo
        {   position: absolute;
            width: 16rem;
            height: 16rem;
            top: -8rem;;
            left:35%;
            border-radius: 50%;
            background-color: $color-white;
            box-shadow: 1rem 2rem 1rem rgba($color-tertiary-dark-1,0.28);
        }

    &--container
    {
        transform: translateX(2rem);
    }
   
 }
