.login {
  width: 100%;
  height: 100vh;
  font-family: "Philosopher", sans-serif;

  background-image: radial-gradient(rgba($color-tertiary-light, 0.39), rgba($color-white, 0.16)),
    url("/img/Capture.JPG");
  position: relative;
  background-size: cover;
  background-position: center;

  &__container {
    position: absolute;
    width: 32%;
    height: 80vh;
    padding: 1rem;
    top: 10rem;
    left: 50rem;
    background-image: url("/img/Capture.jpg");
    border: 2px solid black;
    border-radius: 0.55rem;
    &__header {
      font-family: 'Boogaloo', cursive;
      z-index: 1;
      position: absolute;
      top: -2rem;
      left: 29%;
      width: 20rem;
      height: 5rem;
      font-size: 2.8rem;
      font-weight: 900;
      text-align: center;
      background-color: $color-grey-light-2;
      border: 0.4rem solid $color-tertiary-dark-2;
      border-radius: 0.55rem;
    }
  }

  // positioning the img in the login page
  &__logo {
    position: absolute;
    width: 14rem;
    height: 14rem;
    top: 5rem;
    left: 15.9rem;
    border-radius: 50%;
    background-color: $color-white;
    background-position: center;
  }
}
