//heading part of the more page
.morehead
{
    position: sticky;

    button:focus
    {
        outline: none;

    }

   

    &__back
    {
        top:7rem;
        width: 100%;
        height: 10rem;
        font-size: 6rem;
        font-weight: 600;
        letter-spacing: 1rem;
        color: $color-white;
        background-image: linear-gradient(120deg, 
        $color-primary-dark 30%,
        $color-tertiary-dark 60%,
         $color-secondary-dark 90%);

    }
  
    


    //learn heading position                    
    &__learn
    {
        position:absolute;
        padding: 2rem;
        background-color: transparent;
        border-style: none;
        color: $color-white;
        height: 10rem;
    


        &:hover{
            transition: all .4s;
            width: 100%;
            background-color: $color-primary-dark;
            height: 10rem;
        }
    
        
    }

    &__learntext
    {
        font-size: 5rem;
        top: 1.8rem;
        font-weight: 600;
        letter-spacing: 1rem;
        position: fixed;
        z-index: 2;


    }

  


    //event heading psotion
    &__event
    {
        position:absolute;
        padding: 2rem;
        background-color: transparent;
        border-style: none;
        color: $color-white;
        height: 10rem;

        &:hover{
            transition: all .4s;
            width: 100%;
            background-color: $color-tertiary-dark;
            position:absolute;
         
        }

    }

    &__eventtext
    {
        font-size: 5rem;
        top: 1.8rem;
        font-weight: 600;
        letter-spacing: 1rem;
        position: fixed;
        left: 72rem;
        z-index: 2;


    }

    //club heading postion
    &__club
    {

        position:absolute;
        padding: 2rem;
        background-color: transparent;
        border-style: none;
        color: $color-white;
    
    
        &:hover{
            transition: all .4s;
            width: 100%;
            background-color: $color-secondary-dark;
            height: 10rem;
        }


    }

    &__clubtext
    {
        font-size: 5rem;
        top: 1.8rem;
        right: 2rem;
        font-weight: 600;
        letter-spacing: 1rem;
        position: fixed;


    }     
  

}

.morecontainer
{
    width: 100%;
    height: 100%;
    
}









//to hide the scroll bar

