//heading part of the more page
.morehead
{
    position: sticky;
    top: 0rem;
    z-index: 2;

    button:focus
    {
        outline: none;

    }

   

    &__back
    {
        position: relative;
        top:0rem;
        width: 100%;
        height: 8rem;
        font-size: 6rem;
        font-weight: 600;
        letter-spacing: 1rem;
        color: $color-white;
        background-image: linear-gradient(120deg, 
        $color-primary-dark 30%,
        $color-tertiary-dark 60%,
         $color-secondary-dark 90%);
     

    }
  
    


    //learn heading position                    
    &__learn
    {
        position:absolute;
        padding: 2rem;
        background-color: transparent;
        border-style: none;
        color: $color-white;
        height: 8rem;
        cursor: pointer;  
    


        &:hover{
            transition: all .4s;
            width: 100%;
            background-color: $color-primary-dark;
            height: 8rem;
        }
    
        
    }

    &__learntext
    {
        font-size: 5rem;
        top: 1.5rem;
        font-weight: 600;
        letter-spacing: 1rem;
        position: fixed;
        z-index: 2;
        font-family: 'Averia Serif Libre', cursive;
 


    }

  


    //event heading psotion
    &__event
    {
        position:absolute;
        padding: 2rem;
        background-color: transparent;
        border-style: none;
        color: $color-white;
        height: 8rem;
        cursor: pointer;  

        &:hover{
            transition: all .4s;
            width: 100%;
            background-color: $color-tertiary-dark;
            position:absolute;
         
        }

    }

    &__eventtext
    {
        font-size: 5rem;
        top: 1.5rem;
        font-weight: 600;
        letter-spacing: 1rem;
        position: fixed;
        left: 69rem;
        z-index: 2;
        font-family: 'Averia Serif Libre', cursive;


    }

    //club heading postion
    &__club
    {

        position:absolute;
        padding: 2rem;
        background-color: transparent;
        border-style: none;
        color: $color-white;
        height: 8rem;
        cursor: pointer;  
    
    
        &:hover{
            transition: all .4s;
            width: 100%;
            background-color: $color-secondary-dark;
       
        }


    }

    &__clubtext
    {
        font-size: 5rem;
        top: 1.5rem;
        right: 2rem;
        font-weight: 600;
        letter-spacing: 1rem;
        position: fixed;
        font-family: 'Averia Serif Libre', cursive;


    }     
  

}

.morenav
{
    position: relative;
    // setting zindex to 1 to be at top of other division or section
    z-index: 1;
    // setting width,height and background-color
    width: 100%;
    height: 7rem;
    background-image: linear-gradient(120deg, 
    $color-tertiary-dark-1 60%,
    $color-tertiary-light 80%,
);

border-radius: .8rem;


    left: 0;
    padding: 1rem;
    transition: all 0.3s ease;


    &__right {
        text-align: end;
        width: 50%;    
        float: right;
        margin-right: .5rem;
          }


}

.morebar_items{
    //  settings font properties....
 font-size: 3rem;
 font-weight: 700;
 color: $color-white;
 margin-right: 3rem;
  
 &--icon{
   font-size: 4.6rem;
   top: 0;
 }
//  when hovered the following changes will be taking place 
&:hover{
    color:$color-primary-light;
    text-shadow: 0 1rem 3rem $color-black; 
    // when hovered the cursor will look like pointer
    cursor: pointer;      
}
}    

.homebutton{
   @include buttonnav;
   margin-right: 5rem;
  
  }


.morecontainer
{
    width: 100%;
    height: 100%;

    
}




//search button for more section
.searchmore
{
    position: relative;
    right: 18rem;
    top: -1.8rem;
    


//input area of the searcg button
  &__input
  {
    @include inputbox;

    
  }

  //button of the search
  &__btn
  {
    @include button;

    background: $color-tertiary-dark;
    
    


  }

  //to set the search icon position
  &__icon
  {
      position: relative;
      top: -1.5rem;
  }

  //on hover on the search icon
  &:hover &__input
  {

    width: 25rem;
    color: $color-black;

  }


}










//to hide the scroll bar

