.notify {
    display: none; 
    position: fixed; 
    z-index: 3; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    
    @include respond(phone){
      padding-top: 30px;
    }
  
  /* Modal Content */
  &_panel {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 65%;
    height:80%;
    overflow-y:scroll;
    overflow-x: hidden;
    text-align:center;
    position: relative;

    @include respond(phone){
      width: 95%;
      height:95%;
      padding: 10px;
    }

    &--title
    {
      font-size: 28px;
      font-weight: bold;
      display: inline-block;
      border-bottom: 2px solid grey;
      padding:10px;

      @include respond(phone){
        font-size: 18px;
        padding:4px;
  
      }
    }

    &--close
    {
      position: absolute;
      right: 4%;
      top: 6%;
      font-size: 2.5rem;

      @include respond(phone){
        right: 4%;
        top: 2%;
        font-size: 2.2rem;
  
      }

      &:hover
      {
        transform: translateY(-.3rem);
        transition: all .3s;
      }
    }
    

    &_layout
    {
      width: 100%;
      display: grid;
      grid-template-rows: repeat(1, minmax(15rem, min-content));
      grid-template-columns: repeat(1, minmax(470px,1fr));
      grid-auto-rows: 15rem;
      grid-row-gap: 2rem;
      justify-items: center;
      justify-content: center;
      margin-top: 2rem;

      
      @include respond(phone){
        grid-template-rows: repeat(1, minmax(20rem, min-content));
        grid-template-columns: repeat(1, minmax(200px,1fr));
        grid-auto-rows: 20rem;
      }
    }


    &_notes
    {
      width: 100%;
      border: 1px solid black;
      height: 100%;
      position: relative;
      background-image: linear-gradient(to right bottom,rgba(46, 12, 236, 0.808),rgba(8, 129, 243, 0.849));
      padding: 1rem;
      border-radius: .5rem;
      @include respond(phone){
        padding: 1rem;
  
      }

      &:hover{
        transform: translateY(-.3rem);
        transition: all .3s;
        box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.548);
      }

      &--thumb
      {
        border:1px solid white;
        float: left;
        height: 100%;
        width: 20%;
        object-fit:cover;
        @include respond(phone){
          display: none;
        }
     

      }

      &--user
      {

        position: absolute;
        left: 25%;
        padding-left: 3rem;
        @include respond(phone){
          left: 5%;
          top: 4%;
          width: 75%;
        }
          
        
        &--photo
        {
          border-radius: 50%;
          width: 5rem;
          height: 4.5rem;
          position: absolute;
          left: -3%;

          &--size
          {
            width: inherit;
            border-radius: inherit;
            height: inherit;
          }
        } 

        &--name
        {
          font-size: 24px;
          color:white;
          @include respond(phone){
            font-size: 18px;
            margin-right: 3%;
            margin-left: 4%;
      
          }


        }

        &--tag
        {
          font-size: 14px;
          padding-left: 1rem;
          color: rgb(214, 209, 209);
          @include respond(phone){
            font-size: 10px;
            margin-top: 1rem;
    
      
          }


        }

        &--icon
        {
          color: white;
          font-size: 20px;
          padding-left: 1rem;
          width: 2%;
          @include respond(phone){
            font-size: 10px;
    
      
          }
        }

        &--btn

        {
          width: 0%;
          color: white;
          font-size: 20px;
          position: absolute;
          left: 145%;
          border: none;
          @include respond(phone){
            font-size: 14px;
            left: 115%;
            top: 2%;
    
      
          }

          &:hover{
            transform: scale(1.2);
            color: red;  
            transition: all .4s;
                }

        }


      }

      &--comment
      {
        position:absolute;
        left: 24%;
        top: 32%;
        color: white;
        font-size: 16px;
        text-align: left;
        line-height: 1.8rem;
        font-weight: 500;
        padding-right: 1rem;
        padding-top: 1rem;
        letter-spacing: .8px;
        font-family: 'Times New Roman', Times, serif;
        font-style: italic;
        @include respond(phone){
          font-size: 10px;
          left: 4%;
  
    
        }





      }

    }
  }
}

