.player {
  width: 100%;
  height: 100%;

  &__container {
    display: grid;
    grid-template-rows: minmax(360px, 1fr);
    grid-template-columns: minmax(640px, 1fr);
    background-image: radial-gradient(rgba($color-grey-dark-3,.92),rgba($color-black,.81)),url('/img/Capture.jpg');
    justify-items: center;
    padding: 2rem;
    &--1{
      width: 65%;
    }
  }
}
.play__grid {
  display: grid;
  grid-template-rows: max-content;
  grid-template-columns: minmax(500px, max-content) minmax(300px, max-content);
  grid-gap: 4rem;
  padding: 4rem;
  &--suggest {
    background-color: red;
    grid-area: 1/2/3/-1;
  }

}
.profile--image{
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  position: relative;
  left: 0;
  top: 0;
  background-image: url('/img/man.png');
}

.videoinfo {
  width: 100%;
  height: 100%;
  padding-bottom: 4rem;
}
.video__comments {
  border-top: 0.2rem solid $color-black;
  color: $color-tertiary-dark-1;
  background-color: $color-tertiary-dark;
  padding-top: 1rem;
  width: 100%;
}
