//cover pic of the user//
.coverpic
{
    width: 100%;
    height: 90vh;
    position: relative;
    
    
    &_img
    {
        background-image: linear-gradient(to right bottom,rgba(22, 21, 24, 0),rgba(14, 15, 15, 0)),url("../img/cover.jpg");
        width: 100%;
        height: 90vh;
        background-size: cover;
        background-repeat: no-repeat;
        transition: all .6s;
        background-attachment: fixed;

    }

    &:hover {
        .coverpic_name
        {
            opacity: 1;
            transform: scale(1.2);
            transition: all .6s;
        }
         
        .coverpic_img
        {
            background-image: linear-gradient(to right bottom,rgba(22, 21, 24, 0.600),rgba(14, 15, 15, 0.600)),url("../img/cover.jpg");
            -webkit-filter: blur(2px);
            filter: blur(2px);
            transition: all .6s;

        }
       
      }


      &_namebox
      {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
          
      }

      &_name{
        color:$color-white;
        text-transform: uppercase;
        margin-bottom: 6rem;

        &--main
        {

                    
    display: inline-block;
    font-size: 6rem;
    font-weight: 600;
    letter-spacing: 1rem; 
    font-family: 'Roboto', sans-serif;
        }

        &--sub
        {
            display: inline-block;
            font-size: 4rem;
            font-weight: 700;
            letter-spacing: .4rem;

        }

      }


      &_down
      {
          position: relative;
          border-radius: 50%;
          width: 4%;
          height: 8%;
          background-color:$color-white;
          left: 50%;
          top: -4%;
          box-shadow: 0 0 4px 5px rgba($color-black,.600) ;
          cursor: pointer;
      }

      &_icon
      {
          position: absolute;
          top: 50%;
          left: 50%;
          font-size: 20px;
          transform: translate(-50%, -50%);
      }
}
//coverpic part done//


//user infoe and other details//

.personalinfo
{
    
    width: 100%;
    margin: 30px auto;


    display: grid;
    grid-template-rows: repeat(1, minmax(44rem, min-content));
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
    grid-auto-rows: 44rem;
    grid-row-gap: 6rem;
    grid-column-gap: 5rem;

    padding: 8rem;
  
    justify-content: center;
    align-content: center;

    

    .personalinfo_about
    {
        border: 1px solid rgb(250, 247, 247);
        padding: 1rem;

        &:hover{
            box-shadow: 0 0 11px rgba(33,33,33,.2);
        }
        &--title
        {
            font-weight: 600;
            color: $color-tertiary-light;
            letter-spacing: .2rem;
            font-family: 'Roboto', sans-serif;
        }

        &--para
        {
            font-size: 16px;
            color: rgb(110, 109, 109);
            text-align: left;
            letter-spacing: .4px;
            line-height: 28px;
            margin-top: 1rem;
            font-weight: 500;
        }
    }

    .personalinfo_img
    {
        width: 100%;
        height: 100%;
        margin-left: 2rem;
       

        &--pic
        {
            margin-top: 1rem;
            width: 35rem;
            height: 40rem;
            box-shadow: 1rem 1rem 1rem .4rem rgba(14, 15, 15, 0.600);
            border: 4px solid $color-white;

            &:hover{
                transform: scale(1.1);
                transition: all .5s;
            }
        

        
        }


    }

    .personalinfo_details
    {
        border: 1px solid rgb(250, 247, 247);
        padding :1rem;

        &:hover{
            box-shadow: 0 0 11px rgba(33,33,33,.2);
        }

        &--title
        {
            font-weight: 600;
            color: $color-tertiary-light;
            letter-spacing: .1rem;
            font-family: 'Roboto', sans-serif;
        }

        &--info
        {
            padding: 1rem;
            margin-top: 1rem;
            font-size: 16px;
            color: rgb(110, 109, 109);
            font-family: 'Roboto', sans-serif;
            font-weight: bold;
            text-transform: uppercase;
            border-bottom: 1px solid rgb(235, 230, 230);

          

            &--text
            {
                text-transform: none;
                margin-left: 1rem;
                text-align: center;
                font-family: 'Times New Roman', Times, serif;
                font-size: 18px;
                font-weight: 600;
                letter-spacing: .1rem;
                color: $color-black;


            }
        }
        
    }
}

//user info done//


//conatct deatils//
.contact
{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right bottom,rgba(22, 21, 24, .700),rgba(14, 15, 15, .700)),url("../img/contact.jpg");
    background-size: cover;
    padding-bottom: 15rem;
    background-attachment: fixed;



    
  width: 100%;
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(1rem, max-content));


   &_title
   {
       text-align: center;
       font-size: 40px;
       color: $color-white;
       font-weight: bold;
       letter-spacing: .4rem;
       padding: 5rem;
       margin-bottom: 6rem;

   }

   &_items
   {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(1, minmax(5rem, min-content));
    grid-template-columns: repeat(auto-fill, minmax(400px,1fr));

    grid-row-gap: 8rem;

    justify-items: center;
    justify-content: center;


    color: $color-white;
    font-size: 38px;

    &--call
    {
        border-right: 1px solid white;
        padding-right: 15rem;
         
    @include respond(phone){
        border-right: none;
        border-bottom: 1px solid white;
        padding-right: 0rem;
      
        }
        i
        {
            margin-left: 8rem;
        }

        &--1
        {
            font-size: 28px;
            letter-spacing: .3rem;

        }
    }

    
    &--location
    {
        i
        {
            margin-left: 15.5rem;
        }

        &--1
        {
            font-size: 28px;
            letter-spacing: .3rem;

        }
    }

    &--mail
    {
        i
        {
            margin-left: 15rem;
        }

        &--1
        {
            font-size: 28px;
            letter-spacing: .3rem;

        }
    }

}
}

