.signup {
  width: 100%;
  height: 100vh;
  background-image:radial-gradient(rgba($color-tertiary-light,.39),rgba($color-white,.16)), url('/img/Capture.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;

  @include respond(phone) {
    padding: 5rem;
    padding-left: 0;
    padding-right: 0;
    width: auto;
    height: auto;
  }
  &__container {
    width: 50rem;
    height: 70rem;
    padding: 1rem;
    background-image: url('/img/Capture.jpg');
    border: 2px solid black;
    border-radius: .55rem;
    @include respond(phone) {
      background: transparent;
      border: none;
      width: auto;
      height: auto;
    }
  }
}