.signup {
  width: 100%;
  height: 100vh;
  background-image:radial-gradient(rgba($color-tertiary-light,.39),rgba($color-white,.16)), url('/img/Capture.JPG');
  position: relative;
  background-size: cover;
  background-position: center;
  

  &__container {
    position: absolute;
    width: 32%;
    height: 90vh;
    padding: 1rem;
    top: 5rem;
    left: 50rem;
    background-image: url('/img/Capture.jpg');
    border: 2px solid black;
    border-radius: .55rem;
  }
}