// the upload section properties
.upload {
  width: 100%;
  height: 100vh;
  z-index: 2;
  display: grid;
  background-image: radial-gradient(rgba($color-tertiary-dark-2, 0.67), rgba($color-grey-dark-3, 0.38));

  //    the upload form container where all the details will be put
  &__container {
    justify-self: center;
    align-self: center;
    width: 50%;
    height: auto;
    border-radius: 1.5rem;
    padding: 3rem;
    padding-top: 5rem;
    border: 2px solid black;
    box-shadow: 0 1rem 3rem $color-tertiary-dark-1;
    background-color: $color-white;
  }
}
// for the close button in the upload form
.btn--close {
  text-decoration: none;
  position: relative;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  top: 0;
  left: 40%;
  z-index: 1;
  background: transparent;
  border:none;
  outline: none;
  color: $color-red;
  font-weight: 600;
  font-size: 4rem;
  &:hover{
    transform: translateY(-.3rem);
  }
}
// custom text
.custom-text {
  font-size: 2rem;
  margin: 1rem;
  text-overflow: ellipsis;
  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}
