.player {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: minmax(500px,max-content) minmax(700px,max-content);
  grid-template-columns: 3fr minmax(200px,1fr);
  padding: 3rem;
  grid-gap: 5rem;
  &__container {
    background-color: greenyellow;
  }
  &__suggestedvideo {
    background-color: red;
  }
}


.videoinfo {
  width: 100%;
  height: 100%;
  padding-bottom: 4rem;
}
.video__comments {
  border-top: 0.2rem solid $color-black;
  color: $color-tertiary-dark;
  padding-top: 1rem;
  width: 100%;
  height: 10rem;
}
