.player {
  width: 100%;
  height: 100%;
  padding: 2rem 4rem;
  &__container {
    width: 75%;
    height: 100%;
    float: left;
    padding-left: 4rem;
    
  }
  &__suggestedvideo {
    margin-left: 3rem;
    width: 22%;
    height: 100%;
    float: left;
    box-shadow: 0 1rem 3rem rgba($color-black,.33);
  }
}
.videoplayer {
  width: 960px;
  height: 540px;
  border: none;
  box-shadow: 0 1rem 3rem rgba($color-black,.33);

}
.videoinfo {
  width: 100%;
  height: 100%;
  padding-bottom: 4rem;
}
.video__comments {
  border-top: 0.2rem solid $color-black;
  color: $color-tertiary-dark;
  padding-top: 1rem;
  width: 100%;
  height: 10rem;
}
