.addvideo {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 80px 594px 80px;
  grid-template-columns: 1fr;
  &--top{
    background-image: linear-gradient(to right, rgba($color-tertiary-light, 0.88), rgba($color-tertiary-dark-1, 0.88));

      padding: 2rem;
  }
  &--mid {
    overflow-y: scroll;
    overflow-x: hidden;
  }

  &--footer {
    background-image: linear-gradient(to right, rgba($color-tertiary-light, 0.88), rgba($color-tertiary-dark-1, 0.88));
    padding: 2rem;
    padding-left: 6%;
    
}
}
