@mixin navigationbarfonts($color){
     // font properties for the navigation bar as all option needed the same property
     .navbar_items{
        //  settings font properties....
     font-size: 3rem;
     font-weight: 700;
     color: $color;
     margin: 1.5rem;    
        margin-right: 2rem;
    //  when hovered the following changes will be taking place 
    &:hover{
        color: $color-primary;
        text-shadow: 0 1rem 3rem $color-black; 
        // when hovered the cursor will look like pointer
        cursor: pointer;
        
        
    }
    }
    
}