// these are the variable used for the color as color is needed to be use in various places ,we used these variables to easily defined

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-primary-dark-1: 	#228B22;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-light-1:#9dcfff;
$color-tertiary-light-2:#006064 ;
$color-tertiary-dark: #5643fa;
$color-tertiary-dark-1:	#012A57; 
$color-tertiary-dark-2:	#172d44;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;

$color-black: #000;

$color-red:#d85047;

