@mixin navigationbarfonts($color){
     // font properties for the navigation bar as all option needed the same property
     .navbar_items{
        //  settings font properties....
     font-size: 3rem;
     font-weight: 700;
     color: $color;
     margin: 1.5rem;    
        margin-right: 2rem;
    //  when hovered the following changes will be taking place 
    &:hover{
        color: $color-primary;
        text-shadow: 0 1rem 3rem $color-black; 
        // when hovered the cursor will look like pointer
        cursor: pointer;      
    }
    }    
}
@mixin focus {
     // focus properties
     &:focus {
        // when foucused no outline
        outline: none;
        // shadow
        box-shadow: 0 1rem 1rem rgba($color-black, 0.1);
        // bottom border
        border-bottom: 0.3rem solid $color-primary;
        &:invalid {
          // if invalid bottom border color different
          border-bottom: 0.3rem solid $color-secondary-light;
        }
      }
    
}