.search
{
    position: relative;
    top: -2rem;
    right: 20rem;
    



  &__input
  {
    position: absolute;
    top: 20px;
    right: 50px;
    box-sizing: border-box;
    width: 0px;
    height: 5rem;
    padding: 0 20px;
    outline: none;
    font-size: 18px;
    border-radius: 50px;
    color: #29313a;
    border: 3px solid rgba(46, 19, 199, 0.500);
    transition: all 0.8s;

    
    


  }

  &__btn
  {
    position: absolute;
    width: 5.5rem;
    height: 5.5rem;
    background: $color-tertiary-dark;
    border-radius: 50%;
    right: 4.6rem;
    top: 2rem;
    cursor: pointer;
    text-align: center;
    line-height: 80px;
    font-size: 3rem;
    color: #fff;
    transition: all 0.8s ease;
    border: none;
    outline:none;

    


  }

  &__icon
  {
      position: relative;
      top: -1.3rem;
  }

  &:hover &__input
  {

    width: 25rem;
    color: $color-black;

  }


}
