.form {
  // form properties....
  margin: 3rem;
  padding: 2rem;
  background-color: $color-grey-light-2;
  box-shadow: 0 2rem 4rem rgba($color-black, 0.44);
  // form signup properties
  &--login {
    // for bring down the form
    padding: 4rem;
    transform: translateY(25%);
  }

  // form-group property
  &__group {
    margin: 1rem;

    &--signup {
      margin: 1rem;
      margin-right: 4rem;
      float: left;
    }
  }
  // input fields properties
  &__input {
    padding: 1rem;
    border-radius: 1.2rem;
    text-decoration-style: none;
    border: 0.1rem;

    // signin page form properties...
    &__signin {
      width: 90%;
      height: 4rem;
      display: inline-block;
      @include focus;
    }
    // signup page form properties...
    &__signup {
      display: inline-block;

      width: 35rem;
      border-radius: 0rem;
      border: 0.1rem solid $color-tertiary-dark-1;
    }

    // upload page
    &--upload {
      width: 60%;
      padding: 0.8rem;
      margin: 0.5rem;
      margin-left: 10rem;

      display: block;
      &--1 {
        border: none;
        border-bottom: 0.2rem solid $color-primary-dark;
      }
      &--2 {
        border: 0.1rem solid $color-primary-dark;
      }

      &:focus {
        outline-color: $color-primary-dark;
      }
    }
  }
  &__label {
    margin-bottom: 0.2rem;
    font-size: 1.5rem;
    color: $color-black;
    font-weight: 700;
    display: block;
  }
}
