.form
{
    margin: 3rem;
    padding: 2rem;
    background-color:rgba(36, 80, 83, 0.36);
    box-shadow: 0 2rem 4rem rgba($color-black,.44);
    &__group
    {
        margin: 1rem;
    }
    &__input
    {   display: block;
        padding: 1rem;
        width: 95%;
        border-radius: 3rem;
        color: $color-primary-dark;
        
        &:focus
        {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black,.1);
            border-bottom: .3rem solid $color-primary;

            &:invalid
            {
            border-bottom: .3rem solid $color-secondary-light;
            }
        }
        
    }
    &__label
    {   margin-bottom: .2rem;   
        font-size: 1.5rem;
        color: $color-white;
        font-weight: 900;
        display: inline-block;
    }
}
