// navigation bar
.navigationbar {
  // positioning relative to refer the other division to its position
  position: relative;
  // setting zindex to 1 to be at top of other division or section
  z-index: 1;
  // setting width,height and background-color
  width: 100%;
  height: 7rem;
  background-color: $color-grey-dark-3;
  position: sticky;
  // position of the navigation is set to...
  top: 0;
  left: 0;
  padding: 1rem;
  transition: all 0.3s ease;

  // when hovered
  &:hover {
    // when hovered the background color will change to the given color
    background-color: $color-tertiary-dark-2;
    // when hovered shadow is display
    box-shadow: 0 1rem 1rem rgba($color-black, 0.55);
  }

  //   if navigationbar hovered the class navbarfont will have font-color-->black
  &:hover .navbarfont {
    // callling the mixin
    @include navigationbarfonts($color-white);
  }
  
  // hiding the checked-box
  &__checkbox {
    display: none;
  }

  // when checked box is selected then the following cod eto be executed
  &__checkbox:checked ~ &__more_setting {
    // setting to visible
    opacity: 1;
    visibility: visible;
    transform: translateX(0rem);
    transition: all .4s ease-in;
    
  }
 

  // the navigationbar button
  &__button {
    // setting marign left, z-index ,position
    margin-left: 2rem;
    z-index: 1;
    position: absolute;
    // custom height,width
    height: 3.5rem;
    width: 4rem;
    top: 1rem;
    left: 2rem;
    // when curson hovered ..
    cursor: pointer;
    transition: all 0.3s;
    // when the button is hovered the background-color of icon will be changed
    &:hover {
      .navigationbar--left--icon,
      .navigationbar--left--icon::before,
      .navigationbar--left--icon::after {
        background-color: $color-primary;
      }
    }

  }

  // for left Options
  &--left {
    width: 30%;
    float: left;
    height: inherit;
    position: relative;
    // the 3 line icon in the nav bar
    &--icon {
      // setting the zindex to get it into top and position relative to navigationbar
      z-index: 1;
      top: 1.3rem;
      left: 0.1rem;
      position: absolute;
      transition: all 0.2s;
      cursor: pointer;
      // using pesudo class to create duplicate of icon
      &,
      &::before,
      &::after {
        width: 3.5rem;
        height: 0.32rem;
        background-color: $color-white;
        display: inline-block;
        position: absolute;
      }
      // position pesudo elements
      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
        transition: all 0.1s;
      }
      &::before {
        top: -0.8rem;
      }
      &::after {
        top: 0.8rem;
      }
      
    }
  }

  // style for the list in the more setting
  &__more_setting {
   position: absolute;
    opacity: 0;
    visibility: hidden;
    // setting none style to list
    list-style-type: none;
    // setting background to white color
    background-color: $color-black;
    // setting position from top, left and giving width
    margin-top: 6rem;
    margin-left: -0.98rem;
    width: 20rem;
    // giving shadow
    box-shadow: 0 1rem 3rem rgba($color-tertiary-dark-1, 0.55);
    transform: translateX(-20rem);
    transition: all .4s ease-in-out;

    // list item property
    &--item {
      padding: 1.5rem;
      font-size: 2rem;
      padding-left: 3rem;
      color: $color-black;
      background-image: linear-gradient(120deg, $color-black 0%, $color-black 50%, $color-tertiary-dark 50%);
      background-size: 220%;
      transition: all .5s;
    

      // when  list item is hovered
      &:hover {
 
        box-shadow: 0 1rem 1rem rgba($color-black, 0.55);
        background-position: 100%;
        color: $color-black;
      }

      
    }

    

    // using not lasr child selector for giving underline in list items
    :not(:last-child) {
      border-bottom: 0.1rem solid $color-white;
    }
  }

  // for mid options
  &--mid {
    width: 40%;
    float: left;
    text-align: center;
  }

  // for right options
  &--right {
    text-align: end;
    width: 30%;
    float: right;
  }
}
// for the navbar properties
.navbarfont {
  // calling the mixin
  @include navigationbarfonts($color-white);
}

//for list items
.listlink {

  //to color the list text
  &--item
  {
    color: $color-white;
  }
}


.hidden
{
  display: none;
}