.settings {
  width: 100%;
  height: 100%;
  background-image: url("/img/back-3.jpg");
  background-size: cover;
  background-attachment: fixed;
  color: $color-white;

  &__container {
    margin-top: 30rem;
    padding: 3rem;
    padding-top: 14rem;
    position: relative;
    color: $color-black;
    width: 100%;
    height: 100%;
    background-color: $color-tertiary-light;
  }
  &__editbutton{
    border-radius: 50%;
    height: 8rem;
    width: 8rem;
    position: absolute;
    background-color: $color-tertiary-dark;
    z-index: 1;
    top: 20rem;
    right: 40%;
    border: .3rem solid $color-white;
    &:hover .tooltiptext {
      visibility: visible;
      opacity: 1;
    }
  }
  &__img {
    margin-top: 2rem;
    width: 100%;
    height: 30rem;
    position: absolute;
    top: 25rem;
    overflow: hidden;
  }
  &__icon {
    position: absolute;
    margin-left: 40%;
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    overflow: hidden;
    z-index: 1;
  }

  &__form {
    box-shadow: 0 1rem 1rem rgba($color-black,.66);
    padding: 4rem;
    background-color:$color-grey-light-2;
    transform: translateX(50%);
    width: 50%;
 
  }
// tooltip when the cursor is hovered
  .tooltiptext {
  visibility: hidden;
  position: absolute;
  font-size: 1.6rem;
  background-color: $color-grey-light-2;
  top: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  right: -16rem;
  opacity: 0;
  transition: opacity 0.3s;
  
    &::after {
      content: "";
      position: absolute;
      top: 1rem;
      left: -1.6rem;
      border-width: .8rem;
      border-style: solid;
      border-color:  transparent $color-grey-light-2 transparent transparent;
    }
}

  



}
