
@keyframes moveInLeft{
    0%
    {
    opacity: 0;
    transform: translateX(15rem);
    }
    
    
    100%
    {
    opacity: 1;
    transform: translate(0);
    }
    
    }

    @keyframes ring{
        0%
        {
        opacity: 1;
        transform: translateX(1rem);
        }
        
        
        100%
        {
        opacity: 1;
        transform: translate(0);
        }
        
        }

    

    @keyframes moveUpDown {
        0% { transform: translateY(0); }
        100% { transform: translateY(-20px); }
    }


    .scrolldown
    {
        opacity: 0;
        transition: all .5;


    }

    .scrolltop
    {
        opacity: 1;
        transition: all .5s;
    }

