// these are utilies class for better adjustment of the division,text etc.
.u-center-text{              text-align: center;          }
.u-margin-bottom-small{      margin-bottom: 1.5rem;   }
.u-margin-top-large{        margin-top: 3rem;   }
.u-margin-left-large{        margin-left: 20rem;   }
.u-end-text{              float: right;        }
.u-margin{ margin: 4rem;}
.u-margin-bottom-medium{     margin-bottom: 4rem;   }
.u-margin-right-medium{        margin-right: 2rem;   }
.textShadow{    text-shadow: 0 .61rem 1rem rgba($color-black,0.99);    }
// for icon
.icon{
    width: 3rem;
    height: 3rem;
    margin-left: 2rem;
}
.font-small{ font-size: 2rem;}
.font-medium{   font-size: 3rem;}
.u-margin-small{ margin: 2rem; margin-left: 9rem;}
.u-margin-right-large{        margin-right: 3rem;   }
.list{   list-style-type: none;   

&--items{
    margin:2rem;
}}