// these are utilies class for better adjustment of the division,text etc.
.u-center-text {
  text-align: center;
}
.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}
.u-margin-top-large {
  margin-top: 3rem;
}
.u-margin-left-large {
  margin-left: 20rem;
}
.u-margin-right-large {
  margin-right: 3rem;
}
.u-end-text {
  float: right;
}
.u-margin {
  margin: 4rem;
}
.u-margin-bottom-medium {
  margin-bottom: 4rem;
}
.u-margin-right-medium {
  margin-right: 2rem;
}
.textShadow {
  text-shadow: 0 0.61rem 1rem rgba($color-black, 0.99);
}
// for icon
.icon {
  width: 3rem;
  height: 3rem;
  margin-left: 2rem;
}

// font size utilities
.font-xsmall {
  font-size: 1.4rem;
}
.font-small {
  font-size: 2rem;
}

.font-medium {
  font-size: 3rem;

  @include respond(phone) {
    font-size: 22px;
  }
}

// suggestion list
.list {
  list-style-type: none;
  height: 120%;
  overflow-y: scroll;

  // for the playlist videos
  &--option {
    list-style-type: none;
    padding: 1rem;
    display: none;
    height: auto;
    overflow-y: hidden;
    position: absolute;
    right: 3.5rem;
    margin-top: -3rem;

    background: black;
    &--playlist{
      @include respond(phone){
        top: 10rem;
        right: 4rem;
      }
    

    }
    &--plist {
      margin-top: -3.5rem;
      margin-right: 0rem;
      padding: 1rem;

      @include respond(phone) {
        margin-right: 1rem;
      }


    
    }
    &:hover {
      display: block;
    }
  }
 

  &--items {
    margin: 1rem;

    &--option {
      margin: 0;
      padding: 0;
      &:hover {
        background: white;
      }
      &:hover .btnlist {
        color: black;
      }
    }
  }
}

.u-margin-top {
  margin-top: 15%;
}
.flex-center {
  display: flex;
  justify-content: center;
}

.border {
  border-radius: 1rem;
}

.hauto {
  height: 600px;
}
