.footer
{
    position: relative;

    //for the background image in footer section
    &__back
    {
        background-image: linear-gradient(to right bottom,rgba($color-black, 0.800),rgba($color-black, 0.500)),url('../img/foot.jpg');
        width: 100%;//width of the division
        height: 55rem;//the heightof the divion 
        background-size: 100% 100%;//height and width of the image to fit in the conatiner
        background-repeat: no-repeat;//do not repeat the image

        @include respond(phone){
            height: 50rem;
            background-image: linear-gradient(to right bottom,rgba($color-black,.800),rgba($color-black,.900));
          
        }
    }



    //for the footer logo
    &__logo
    {
        position: absolute;
        top: 5rem;
        font-size: 200px;
        left: 42%;

        @include respond(phone){
            font-size: 100px;
            left: 40%;
            top: -2rem;
            color: white;
        }


    }

    //name of the logo
    &__logo-name
    {
        position: absolute;
        color: $color-tertiary-dark;
        font-size: 5rem;
        top: 25rem;
        left: 4rem;

        @include respond(phone){
            font-size: 35px;
            left: 1.5rem;
            top: 11.5rem;
        }
    }




    //conatact us icons
    &__communication
    {

        font-size: 5rem;
        @include respond(phone){
            font-size: 35px;
           
        }

        //contact us text
        &--text
        {
            position:absolute;
            top: 20%;
            left: 12%;
            color: $color-white;
            font-size: 3rem;
            font-weight: 600;
            letter-spacing: .2rem;
            transform: rotate(7deg);

            @include respond(phone){
                font-size: 20px;
                transform: rotate(0);
                font-weight: 200;
                top: 15rem;
                left: 65%;
               
            }
            
        }


        //call icon
        &--call
        {
            position:absolute;
            color: $color-tertiary-dark;
            top: 30%;
            left: 15%;
            transition: all .4s;
            @include respond(phone){
                top: 22rem;
                left: 70%;
               
            }

            //to translate the icon in y direction
            &:hover{
                transform: translateY(-2rem);
            }

        }

        //call icon details
        &--callinfo
        {
            font-size: 3rem;
            background-color:rgba($color-black,.8);
            border-radius: 2rem;
            visibility: hidden;
            
            color: $color-white;
            transition: all .4s;
            @include respond(phone){
                position: relative;
                font-size: 15px;
                top: -4rem;
                left: -15%;
               
            }
        }

        //when call icon is hovered numbered is shown
        &--call:hover &--callinfo
        {
            visibility: visible;
            color: $color-white;
        }




        //location icon
        &--location
        {
            position:absolute;
            color: $color-primary-dark;
            top: 50%;
            left: 13%;
            transition: all .4s;

            @include respond(phone){
                top: 29rem;
                left: 70%;
               
            }

            &:hover{
                transform: translateY(-2rem);
            }
        }

        &--locationinfo
        {
            font-size: 3rem;
            background-color:rgba($color-black,.8);
            border-radius: 2rem;
            visibility: hidden;
            transition: all .4s;
            color: $color-white;
            padding: .7rem;
            @include respond(phone){
                position: relative;
                font-size: 10px;
                top: -3rem;
                left: -15%;
            
               
            }
        }

        &--location:hover &--locationinfo
        {
            visibility: visible;
            color: $color-white;
        }



        //mail icon
        &--mail
        {
            position:absolute;
            color: red;
            top: 70%;
            left: 10%;
            transition: all .4s;

            @include respond(phone){
                top: 35rem;
                left: 70%;
               
            }

            &:hover{
                transform: translateY(-2rem);
            }

        }
        &--mailinfo
        {
            font-size: 3rem;
            background-color:rgba($color-black,.8);
            border-radius: 2rem;
            visibility: hidden;
            transition: all .4s;
            padding: .7rem;
            color: $color-white;
            @include respond(phone){
                position: relative;
                font-size: 10px;
                top: -3rem;
                left: -15%;
              
            
               
            }
        }

        &--mail:hover &--mailinfo
        {
            visibility: visible;
            color: $color-white;
        }

    }

    
    //social icons
    &__social
    {

        &--text
        {
            position: absolute;
            color:$color-white;
            font-size: 3rem;
            font-weight: 700;
            letter-spacing: .5rem;
            right: 10%;
            top: 10rem;
            @include respond(phone){
                font-size: 20px;
                transform: rotate(0);
                font-weight: 200;
                top: 15rem;
                left: 2rem;
                width: 30%;
               
            }
         
            

        }


        &--fb
        {
            position: absolute;
            color: $color-tertiary-dark;
            font-size: 6rem;
            right: 20%;
            top: 24%;
            @include respond(phone){
                font-size: 35px;
                left: 5rem;
                top: 22rem;
            
               
            }


        }


        &--twit
        {
            position: absolute;
            color: $color-tertiary-light;
            font-size: 6rem;
            right: 18%;
            top: 40%;
            @include respond(phone){
                font-size: 35px;
                left: 5rem;
                top: 29rem;
            
               
            }


        }


        &--link
        {

            position: absolute;
            color: $color-tertiary-light;
            font-size: 6rem;
            right: 16%;
            top: 55%;
            @include respond(phone){
                font-size: 35px;
                left: 5rem;
                top: 35rem;
            
               
            }

        }
    }
}