.header {
  width: 100%;
  height: 91vh;
  position: relative;
  background-image: cover;
  background-position: top;
  background-size: cover;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  @include respond(phone) {
    height: 85vh;
  }
  //text part in the header
  &__text-box {
    position: absolute;
    top: 40%;
    left: 70%;
    transform: translate(-50%, -50%);
    text-align: center;
    @include respond(phone) {
      left: 50%;
    }
  }

  &_img {
    position: absolute;
    left: 0rem; //to fit the images in the middle of the screen
    height: 91vh;
    min-width: 100%;
    @include respond(phone) {
      width: 100%;
      height: 100%;
    }
  }
}

//images in the header

//to apply the fade effect in
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  margin-bottom: 6rem;

  &--main {
    display: inline-block;
    font-size: 8rem;
    font-weight: 600;
    letter-spacing: 3rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    @include respond(phone) {
      font-size: 38px;
      letter-spacing: 0.8rem;
    }
  }

  &--sub {
    display: inline-block;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 1rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-timing-function: ease-in;
    @include respond(phone) {
      font-size: 23px;
      letter-spacing: 0;
    }
  }
}
