//slider section//
.main
{
    background-color: $color-white;
}

//header conatiner
.head
{
    width: 100%;
    height: 97vh;
    position: sticky;
    top: 0;
    z-index:-1;
}


.info
{
    padding: 20rem 0 10rem 0;
    background-color: rgba($color-grey-dark,.2);
    margin-top: 2rem;
    margin-bottom: 10rem;
    

}


//learning section//
.learning
{
    padding: 10rem 0 15rem 0;
    margin-top: 2rem;
    position: relative;

}



//club activities section//
.club
{
    padding: 10rem 0 15rem 0;
    margin-top: 2rem;
    position: relative;

}



//event section//
.event
{
    padding: 10rem 0 15rem 0;
    margin-top: 2rem;
    position: relative;

}


