//slider section//
.slider
{
    padding: 25rem 0 15rem 0;
    background-color: aquamarine;
    margin-top: 2rem;
    margin-bottom: 10rem;
    

}


//learning section//
.learning
{
    padding: 10rem 0 15rem 0;
    margin-top: 2rem;
    position: relative;

}



//club activities section//
.club
{
    padding: 10rem 0 15rem 0;
    margin-top: 2rem;
    position: relative;

}



//event section//
.event
{
    padding: 10rem 0 15rem 0;
    margin-top: 2rem;
    position: relative;

}