.feature
{

    &__container
    {
        margin: 0px auto;
        padding: 5rem 0 2rem 0;
        overflow: hidden;
        position: relative;

    }
  


    &__heading
    {
        text-align: center;
        color: #fff;
        display: block;
        font-size: 38px;
        font-family: 'Crete Round', serif;
        margin-bottom: 5rem;
        font-weight: normal;
       
    }


    &__left-line
    {
        background: #ccc;
        height: .2rem;
        width: 7%;
        position: relative;
        bottom: 10px;
        display: inline-block;
        font-family: 'Open Sans', sans-serif;

    }


    &__right-line
    {
        height: .2rem;
        width: 7%;
        background: #ccc;
        position: relative;
        bottom: 10px;
        display: inline-block;
        font-family: 'Open Sans', sans-serif;

    }



    //conatiner to store videos in feature section
   &__contents
   {
    position: relative;
    white-space:nowrap;
    padding: 5rem 0 9rem 0;//top right bottom left
    overflow-x:auto;
    display: grid;
    grid-template-rows: repeat(1, minmax(25rem, min-content));
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 25rem;

   }


   &__vid
   {
    width:30rem;
    height:20rem;
    margin:1.5rem;
    display:inline-block
   }

  
   
   &__text
   {
      color: $color-white;
      font-size: 2.4rem; 
   }

   &__video
   {
       width: 100%;
       height: 25rem;
       border: 3px solid black;
   }

   &__link
   {
       color: $color-white;

       &:visited
       {
           color: $color-white;
       }
       &:hover
       {
        //   
       }
   }

}

