.feature
{

    &__container
    {
        margin: 0px auto;
        padding: 5rem 0 2rem 0;
        overflow: hidden;
        position: relative;

    }
  


    &__heading
    {
        text-align: center;
        color: #fff;
        display: block;
        font-size: 38px;
        font-family: 'Crete Round', serif;
        margin-bottom: 5rem;
        font-weight: normal;
       
    }


    &__left-line
    {
        background: #ccc;
        height: .2rem;
        width: 7%;
        position: relative;
        bottom: 10px;
        display: inline-block;
        font-family: 'Open Sans', sans-serif;

    }


    &__right-line
    {
        height: .2rem;
        width: 7%;
        background: #ccc;
        position: relative;
        bottom: 10px;
        display: inline-block;
        font-family: 'Open Sans', sans-serif;

    }



    //conatiner to store videos in feature section
   &__contents
   {
    position: relative;
    display: grid;
    grid-template-rows: repeat(1, minmax(30rem, min-content));//50rem should be same with 50rem of auto-grid-rows to create new rows of same size 
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 3rem;
    grid-auto-rows: 30rem;
    padding: 2rem;
   
   }



}

