.form {
  // form properties....
  margin: 3rem;
  padding: 2rem;
  background-color: $color-grey-light-2;
  box-shadow: 0 2rem 4rem rgba($color-black, 0.44);
  // form signup properties
  &--login {
    // for bring down the form
    width: 80%;
    padding: 4rem;
    transform: translate(10%,22%);
    border-radius: 1rem;
  }

  // form-group property
  &__group {
    margin: 1rem;

    &--signup {
      margin: 1rem;
      margin-right: 4rem;
      float: left;
    }
  }
  // input fields properties
  &__input {
    padding: 1rem;
    border-radius: 1.2rem;
    text-decoration-style: none;
    border: 0.1rem;
    &__pin {
      border-radius: 0rem;
      padding-left: 2rem;
      padding-right: 3rem;
      letter-spacing: 2.5rem;
      font-size: 1.9rem;
      width: 26rem;
      background: transparent;
      border-bottom: .2rem double $color-tertiary-light-2;
      

      &:focus {
        outline: none;
      }
    }
    // signin page form properties...
    &__signin {
      width: 80%;
      height: 4rem;
      display: inline-block;
      @include focus;
      margin-left: 4rem;
    }
    // signup page form properties...
    &__signup {
      display: inline-block;
      width: 35rem;
      padding: 1.2rem;
      border-radius: 1rem;
      &:focus{
        outline: none;
      }
    }

    // upload page
    &--upload {
      width: 60%;
      padding: 0.8rem;
      margin: 0.5rem;
      margin-left: 10rem;

      display: block;
      &--1 {
        border: none;
        border-bottom: 0.2rem solid $color-primary-dark;
      }
      &--2 {
        border: 0.1rem solid $color-primary-dark;
      }

      &:focus {
        outline-color: $color-primary-dark;
      }
    }
  }
  &__label {
    margin-bottom: 0.2rem;
    font-size: 1.5rem;
    color: $color-black;
    font-weight: 700;
    display: block;
    &--signin {
      margin-left: 4rem;
    }
  }
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}