.form {
  // form properties....
  margin: 3rem;
  padding: 2rem;
  background-color: $color-grey-light-2;
  font-family: "Philosopher", sans-serif;

  

  // form login properties
  &--login {
    // for bring down the form
    padding-top: 4rem;
    width: 100%;
    height: 100%;
    transform: translate(-3rem, -3rem);
    box-shadow: 1rem 2rem 6rem rgba($color-black, 0.33);
    @include respond(phone) {
      padding-top: 6rem;
    }
  }
  &--signup {
    width: 100%;
    height: 100%;
    box-shadow: 1rem 2rem 6rem rgba($color-black, 0.33);
    transform: translate(-3rem, -3rem);
    padding-left: 4rem;
    @include respond(phone) {
      padding-top: 5rem;
    }
  }

  // form-group property
  &__group {
    margin: 1rem;
    @include respond(phone) {
      margin: 0.2rem;
    }
  }
  // input fields properties
  &__input {
    padding: 1rem;
    border-radius: 1.2rem;
    text-decoration-style: none;
    font-family: "Philosopher", sans-serif;
    font-size: 2rem;
    border: 0.1rem;
    outline: none;

    @include respond(phone) {
      font-size: 16px;
    }
    // for settings
    &--settings {
      width: 58%;
      border: 1px solid $color-black;
      @include respond(phone){
        width: 90%;
      }
      @media (width: 768px) {
        width: 60%;
      }
    }
    // for comment
    &--comment {
      width: 50%;
      font-size: 1.8rem;
      padding: 0.99rem;
      border: 0.2rem dotted $color-grey-dark-3;

      @include respond(phone) {
        width: 72%;
      }
    }
    // input field for reply
    &--reply {
      font-size: 1.5rem;
      width: 98%;
      border: 1px solid black;
      @include respond(nohd) {
        width: 97%; //1366px
      }
      @include respond(tab-land) {
        width: 94%;
      }

      @include respond(phone) {
        width: 90%;
      }
    }
    // signin page input field  properties...
    &__login {
      width: 74%;
      height: 4rem;
      position: relative;
      background: transparent;
      display: inline-block;
      padding: 0.55rem;
      border-radius: 0rem;
      border-bottom: 0.3rem solid $color-tertiary-dark-1;
      margin-left: 8rem;
      font-size: 1.8rem;
      @include respond(phone) {
        margin-left: 6rem;
      }
      &--icons {
        position: absolute;
        font-size: 3rem;
        left: 7rem;
        &--iconuser {
          top: 30.3rem;
          @include respond(phone) {
            top: 30;
          }
        }
        &--iconlock {
          top: 38rem;
          @include respond(phone) {
            top: 37.2rem;
          }
        }
        @include respond(phone) {
          left: 4.5rem;
        }
      }
    }
    // signup page form properties...
    &__signup {
      display: inline-block;
      width: 89%;
      padding: 1.2rem;
      border-radius: 1rem;
      border: 0.1rem double $color-tertiary-dark-1;
      &:focus {
        outline: none;
        border: 0.1rem solid $color-tertiary-dark-1;
      }
    }

    // upload page
    &--upload {
      width: 65%;
      padding: 0.8rem;
      margin: 0.5rem;
      margin-left: 16%;

      display: block;
      &--1 {
        border: none;
        border-bottom: 0.2rem solid $color-tertiary-light;
      }
      &--2 {
        border: 0.1rem solid $color-tertiary-light;
      }

      &:focus {
        outline-color: $color-tertiary-light;
      }
    }
  }
  &__label {
    margin-bottom: 0.2rem;
    font-size: 1.7rem;
    color: $color-black;
    font-weight: 700;
    display: block;
    @include respond(phone) {
      font-size: 18px;
      font-weight: 200;
    }
    // for login label
    &--login {
      margin-left: 4.1rem;
      @include respond(phone) {
        margin-left: 2rem;
      }
    }
  }
}
