.info
{
    //creating a grid in info section for cards 
    position: relative;
   
    


    //heading part
    &__heading
    {
        position: absolute;
        top: 1rem;
        left: 40rem;
        color: $color-tertiary-dark;
        letter-spacing: 1rem; 
        font-size: 4rem;
        font-weight: 500;
        border-bottom: 1px solid $color-grey-dark-3;

    }

    
    //grid layout
    &__grid
    {
        position: relative;
        margin-top: -3rem;
        margin-left: 2.5rem;
        padding: 10rem;
        grid-column: center-start / center-end;

        display: grid;
        grid-template-rows:60vh  repeat(1, 1fr);
        grid-template-columns: repeat(3,40rem);
        grid-gap: 4rem;

    }

    //image box to store the image
    &__imgbox

    {
        overflow: hidden;//so the box remains in its orginal postion and only the image gets zoomed
    
      
    }

    //image part
    &__img
    {
        position: relative;
        width: 100%;
        height: 25rem;
        border-style:double; 
        transition: all .5s;
    

    }
   


    //for all three cards

    //learning card
    &__learning

    {
        position: relative;
    
        
    
    }

//when we hover on learning card
    &__learning:hover &__img{
        transform: scale(1.2);
    }


  
    //event card
    &__event

    {
        position: relative;
    
    }

 
    //when we hover on event card
    &__event:hover &__img{
        transform: scale(1.2);
    }



 
    //club card
    &__club

    {
        position: relative;

    }
    
      
    //when we hover on club card
    &__club:hover &__img{
        transform: scale(1.2);
    }





    //the name part of the card
    &__title
    {  
        z-index: 2;
         position:absolute;
        background-color:$color-black;
        color: $color-white;
        text-transform: uppercase;
        font-size: 2rem;
        text-align: center;
        font-weight: 1000;
        letter-spacing: .5rem;
        width: 80%;
        left: 4rem;
        top: 21.5rem;
        box-shadow: 0 1rem 3rem rgba($color-black, 0.55);
        padding: 2rem;


        //when hover the title part it will scale
        &:hover{
            transform: scale(1.1);
             cursor: default;
             transition: all .2s;

            
        }

    

    }

    //the paragrapgh part
    &__text
    {
      
        position: absolute;
        top: 25rem;
        padding: 10rem 2rem 6rem 2rem;//top right bottom left
        background-color:$color-white;
        font-size: 1.6rem;
        font-weight: 500;

        
    }


    //when we hover on the info section the cursor will we default
    &:hover{
        cursor: default;
    }
    


}