.learning
{
    &__heading
    {
       @include head;
       
       background-image: linear-gradient(120deg, 
       $color-primary-dark 50%,
       rgba($color-primary-dark,.3) 30%);

    }

    &__title
    {
        @include title;
    }

    &__more
    {

  
        @include more;
    }

    
    &__more:hover::after
    {
        width: 100%;
    }
}


.line
{
    background:$color-white;
    height: 1rem;
    width: 60%;
    position: relative;
    bottom: 10px;
    left: 30rem;
    bottom: -6rem;
    z-index: 1;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    @include respond(phone){
    left: 7rem;
    height: .6rem;

    }
}