// navigation bar
.navigationbar {
  // positioning relative to refer the other division to its position
  position: relative;
  // setting zindex to 1 to be at top of other division or section
  z-index: 2;
  // setting width,height and background-color
  width: 100%;
  height: 7rem;
  background-color: $color-grey-dark-3;
  position: sticky;
  // position of the navigation is set to...
  top: 0;
  left: 0;
  padding: 1rem;
  transition: all 0.3s ease;
  
  @include respond(phone){
    height: 6rem;
      
      }

  // when hovered
  &:hover {
    // when hovered the background color will change to the given color
    background-color: $color-tertiary-dark-2;
    // when hovered shadow is display
    box-shadow: 0 1rem 1rem rgba($color-black, 0.55);
  }

  //   if navigationbar hovered the class navbarfont will have font-color-->black
  &:hover .navbarfont {
    // callling the mixin
    @include navigationbarfonts($color-white);
  }

  // left
  &--left {
    width: 50%;
    float: left;
    padding-left: 3rem;

    @include respond(phone){
      padding-left: 0rem;
        }
  }
  // for right options
  &--right {
    text-align: end;
    width: 50%;
    padding-right: 3rem;
    float: left;
    @include respond(phone){
      font-size: 20px;
      float: right;
      padding-right: 1rem;
   
        
        }
  }
}
// for the navbar properties
.navbarfont {
  // calling the mixin
  @include navigationbarfonts($color-white);
}

.navbar_title
{
  @include respond(phone){
  display: none;
 
      
      }

}
//for list items
.listlink {
  //to color the list text
  &--item {
    color: $color-white;
  }
}
// userbutton
.userbutton{
  @include buttonnav;

}

// container settings
.usercontainer{
  z-index: 2;
  display: none;
  clear: left;
  position: absolute;
  width: 38rem;
  height: 41rem;
  border-radius: 1rem;
  top: 8rem;
  right: 3rem;
  padding: 1rem;
  background-image: radial-gradient(rgba($color-tertiary-dark-2,1),rgba($color-white,.1)),url('/img/Capture.jpg');
  box-shadow: .44rem 1rem 1rem rgba($color-black, 0.55);
  &::after{
    content: "";
    position: absolute;
    top: -1.99rem;
    right: 2.8rem;
    border:1rem solid;
    border-color:  transparent  transparent $color-grey-light-2 transparent;
  }

  @include respond(phone){
  
    width: 30rem;
    height: 38rem;
    top: 7rem;
    right: .5rem;
      
      }
 

}
.signincontainer{
  display: none;
  z-index: 2;
  position: absolute;
  width: 36rem;
  height: 39rem;
  top: 1rem;
  left: .97rem;
  padding: 2rem;
  background-color: $color-grey-light-2 ;
  color: $color-black;
  border-radius: .55rem;
  
  @include respond(phone){
  
    width: 28rem;
    height: 36rem;
      
      }
  
  &__img{
    position: absolute;
    top:.55rem;
    left: 36%;
    height: 10rem;
    width: 10rem;
    background-position: center;
    border-radius: 50%;

    @include respond(phone){
  
      width: 8rem;
      height: 8rem;
        
        }
  }
}
.ul__list 
{
  margin: 1rem;
  margin-top: 9rem;
  list-style-type: none;
  text-align: center;

  &--items{
    margin: .53rem;
    // change to hide or visible the progress bar
    &--progress{
      display: block;
    }
  }

}
.list--link{
  &,&:visited{

    text-decoration: none;
    color: $color-black;
    font-weight: 700;
    padding: .56rem;
    border-radius: 1rem;
    margin: .2rem;
    font-size: 18px;
    background-color: $color-tertiary-light-1;
    @include respond(phone){
      padding: .5rem;
      margin: .2rem;
     
          
          }
  }    
  @include respond(phone){
  font-size: 18px;
      
      }
}
.notsignincontainer{
  display: none;
  z-index: 2;
  position: absolute;
  width: 36rem;
  height: 37rem;
  top: 2rem;
  left: 1rem;
  padding: 2rem;
  background-color: $color-grey-light-2 ;
  
  @include respond(phone){
  
    width: 28rem;
    height: 33rem;
    top: 1rem;
      
      }

  &__img{
    
    margin-left: 5.5rem;
    width: 22rem;
    height: 22rem;
    border-radius: 50%;
    @include respond(phone){
  
      width: 18rem;
      height: 18rem;
      margin-left: 3rem;
      top: 1rem;
        
        }
  }
  &__imgdiv{
    width: 20rem;
    height: 15rem;
  }
}


//css to make user conatiner text responsive on mob
.accountHolderName
{
  @include respond(phone){
  
     font-size: 18px;
     margin-top: -2rem;
      
      }
  

}

.accountHolderId
{
  @include respond(phone){
  
     font-size: 14px;
     margin-top: -1rem;
     margin-left: -1.5rem;
      
      }
  

}
