// navigation bar
.navigationbar {
  // positioning relative to refer the other division to its position
  position: relative;
  // setting zindex to 1 to be at top of other division or section
  z-index: 2;
  // setting width,height and background-color
  width: 100%;
  height: 7rem;
  background-color: $color-grey-dark-3;
  position: sticky;
  // position of the navigation is set to...
  top: 0;
  left: 0;
  padding: 1rem;
  transition: all 0.3s ease;

  // when hovered
  &:hover {
    // when hovered the background color will change to the given color
    background-color: $color-tertiary-dark-2;
    // when hovered shadow is display
    box-shadow: 0 1rem 1rem rgba($color-black, 0.55);
  }

  //   if navigationbar hovered the class navbarfont will have font-color-->black
  &:hover .navbarfont {
    // callling the mixin
    @include navigationbarfonts($color-white);
  }

  // left
  &--left {
    width: 50%;
    float: left;
    padding-left: 3rem;
  }
  // for right options
  &--right {
    text-align: end;
    width: 50%;
    padding-right: 3rem;
    float: left;
  }
}
// for the navbar properties
.navbarfont {
  // calling the mixin
  @include navigationbarfonts($color-white);
}

//for list items
.listlink {
  //to color the list text
  &--item {
    color: $color-white;
  }
}
// userbutton
.userbutton{
  background: transparent;
  border: none;
  position: relative;
  &:active,
  &:focus{
    outline: none;
  }

}
// container settings
.usercontainer{
  z-index: 2;

  display: none;
  clear: left;
  position: absolute;
  width: 38rem;
  height: 41rem;
  border-radius: 1rem;
  top: 8rem;
  right: 3rem;
  background-color: $color-grey-light-2 ;
  box-shadow: 0 1rem 2rem rgba($color-black, 0.55);
  &::after{
    content: "";
    position: absolute;
    top: -1.99rem;
    right: 3.4rem;
    border:1rem solid;
    border-color:  transparent  transparent $color-grey-light-2 transparent;
  }
 

}
.signincontainer{
  display: none;
  z-index: 2;
  position: absolute;
  width: 36rem;
  height: 39rem;
  top: 1rem;
  left: 1rem;
  padding: 2rem;
  border: 1px solid black;
  color: $color-black;
  &__img{
    position: absolute;
    top:.55rem;
    left: 36%;
    height: 10rem;
    width: 10rem;
    background-position: center;
    border-radius: 50%;
  }
}
.ul__list 
{
  margin: 1rem;
  margin-top: 9rem;
  list-style-type: none;
  text-align: center;

  &--items{
    margin: .55rem;

    &--progress{
      display: block;
    }
  }
  li:last-child {
    margin-top: 1rem;
   
  }
}
.list--link{
  &,&:visited{

    text-decoration: none;
    color: $color-black;
    font-weight: 700;
    padding: .56rem;
    border-radius: 1rem;
    margin: 1rem;
    background-color: $color-tertiary-light-1;
  }    
}
.notsignincontainer{
  display: none;
  z-index: 2;
  position: absolute;
  width: 36rem;
  height: 37rem;
  border: 1px solid black;
  top: 1rem;
  left: 1rem;
  padding: 2rem;

  &__img{
    
    margin-left: 7.2rem;
    width: 22rem;
    height: 22rem;
    border-radius: 50%;
  }
  &__imgdiv{
    width: 20rem;
    height: 15rem;
  }
}