// navigation bar
.navigationbar {
  // positioning relative to refer the other division to its position
  position: relative;
  // setting zindex to 1 to be at top of other division or section
  z-index: 2;
  // setting width,height and background-color
  width: 100%;
  height: 7rem;
  background-color: $color-grey-dark-3;
  position: sticky;
  // position of the navigation is set to...
  top: 0;
  left: 0;
  padding: 1rem;
  transition: all 0.3s ease;

  @include respond(phone) {
    height: 6rem;
  }

  // when hovered
  &:hover {
    // when hovered the background color will change to the given color
    background-color: $color-tertiary-dark-2;
    // when hovered shadow is display
    box-shadow: 0 1rem 1rem rgba($color-black, 0.55);
  }

  //   if navigationbar hovered the class navbarfont will have font-color-->black
  &:hover .navbarfont {
    // callling the mixin
    @include navigationbarfonts($color-white);
  }

  // left
  &--left {
    width: 50%;
    float: left;
    padding-left: 3rem;

    @include respond(phone) {
      padding-left: 0rem;
    }
  }
  // for right options
  &--right {
    text-align: end;
    width: 50%;
    padding-right: 4rem;
    float: left;
    height: 100%;
    @include respond(phone) {
      float: right;
      padding-right: 0rem;
    }
  }
}
// for the navbar properties
.navbarfont {
  // calling the mixin
  @include navigationbarfonts($color-white);
}

.navbar_title {
  @include respond(phone) {
    display: none;
  }
}
//for list items
.listlink {
  //to color the list text
  &--item {
    color: $color-white;
  }
}
// userbutton
.userbutton {
  @include buttonnav;
 
}

.notibutton {
  @include buttonnav;
  margin-right: 1rem;

  &_dot {
    height: 20px;
    width: 20px;
    background-color: red;
    border-radius: 50%;
    display:block;
    position: relative;
    left: 70%;
    top:-2rem;
    @include respond(phone){
      height: 15px;
      width: 15px;
    }

    
      
  }
  
  @include respond(phone) {
    margin-right: 1rem;
  }
}

// container settings
.usercontainer {
  z-index: 2;
  display: none;
  clear: left;
  position: absolute;
  width: 38rem;
  height: auto;
  border-radius: 1rem;
  top: 8rem;
  right: 2.8rem;
  padding: 1rem;
  box-shadow: 0.44rem 1rem 1rem rgba($color-black, 0.55);
  &::after {
    content: "";
    position: absolute;
    top: -1.05rem;
    right: 3.5rem;
    border: 1rem solid;
    border-color: transparent transparent $color-grey-light-2 transparent;

    @include respond(phone){
      right: 1rem;
    }
  }

  @include respond(phone) {
    width: 30rem;
    top: 7rem;
    right: 1rem;
  }
}
.signincontainer {
  display: none;
  z-index: 2;
  position: absolute;
  width: 37rem;
  height: auto;
  top: 1rem;
  left: 0.97rem;
  padding: 2rem;
  background-color: $color-grey-light-2;
  border: 8px solid $color-grey-dark-3;
  color: $color-black;
  border-radius: 0.55rem;

  @include respond(phone) {
    width: 29.5rem;
  }

  &__img {
    height: 10rem;
    width: 10rem;
    background-position: center;
    border-radius: 50%;

    @include respond(phone) {
      width: 8rem;
      height: 8rem;
    }
  }
}
.ul__list {
  margin: 1rem;
  margin-top: 1%;
  list-style-type: none;
  text-align: center;
  @include respond(phone){
  margin-top: 18px;

  }
  &--items {
    margin: 0.53rem;
    // change to hide or visible the progress bar
    &--progress {
      display: block;
    }
  }
}
.list--link {
  &,
  &:visited {
    display: inline-block;
    text-decoration: none;
    color: $color-black;
    font-weight: 700;
    padding: 0.56rem;
    border-radius: 1rem;
    margin: 0.2rem;
    font-size: 18px;
    background-color: $color-tertiary-light-1;
    @include respond(phone) {
      padding: 0.4rem;
      margin: 0.2rem;
    }
  }
  @include respond(phone) {
    font-size: 18px;
  }
}
.notsignincontainer {
  display: none;
  z-index: 2;
  position: absolute;
  width: 37rem;
  height: auto;
  top: 2rem;
  left: 1rem;
  padding: 2rem;
  border: 8px solid $color-grey-dark-3;
  background-color: $color-grey-light-2;

  @include respond(phone) {
    width: 28rem;
    height: auto;
    top: 1rem;
  }

  &__img {
    width: 22rem;
    height: 22rem;
    border-radius: 50%;
    @include respond(phone) {
      width: 18rem;
      height: 18rem;
    }
  }
}

//css to make user conatiner text responsive on mob
.accountHolderName {
  @include respond(phone) {
    font-size: 18px;
    margin-top: -2rem;
  }
}

.accountHolderId {
  @include respond(phone) {
    font-size: 14px;
    margin-top: -1rem;
    margin-left: -1.5rem;
  }
}
