.search
{
    position: relative;
    right: 3rem;
    top: -1.8rem;
    


//input area of the searcg button
  &__input
  {
    @include inputbox;


    
  }

  //button of the search
  &__btn
  {
  
    @include button;

    background: $color-tertiary-light;

    


  }

  //to set the search icon position
  &__icon
  {
      position: absolute;
      top: 1rem;
      left: 1rem;
  }

  //on hover on the search icon
  &:hover &__input
  {

    width: 25rem;
    color: $color-black;

  }


}
