.team {
  background-image: linear-gradient(to bottom,rgba(46, 19, 199, 2),rgba(18, 207, 240, 0.800));
 

  width: 100%;


  display: grid;
  grid-template-rows:5rem 10rem 15rem;
  grid-template-columns: 1fr;



  justify-content: center;
  align-content: center;

  position: relative;

  //main title:Meet your team
  &__title {
    color: $color-white;
    text-transform: uppercase;
    font-size: 50px;
    letter-spacing: .5rem;
    font-weight: bold;
    text-align: center;
    font-family: "norwester";
  }

  //left-bar
  &__left {
    background: $color-white;
    height: 0.2rem;
    width: 13%;
    position:absolute;
    left: 20%;
    top: 13%;
    bottom: 10px;
    display: inline-block;
    font-family: "Open Sans", sans-serif;
  }

  //right-bar
  &__right {
    position: absolute;
    background: $color-white;
    height: 0.2rem;
    width: 13%;
    right: 20%;
    top: 13%;
    bottom: 10px;
    display: inline-block;
    font-family: "Open Sans", sans-serif;
  }

  //icon 
  &__icon {

    position:absolute;
    font-size: 40px;
    color: $color-white;
    text-align: center;
  }

  //description part
  &__description {
    color: $color-white;
    font-size: 25px;
    font-weight: 300;
    padding: 1rem;
    line-height: 6rem;
    display: block;
    text-align: center;
  }




  //team grid
  &__grid {
    position: relative;
    padding: 4rem;


    width: 100%;


    display: grid;
    grid-template-rows: repeat(1, minmax(10rem, min-content));
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    grid-auto-rows: 10rem;
    grid-row-gap: 5rem;
    grid-column-gap: 10rem;

  

    justify-content: center;
    align-content: center;
  }


  //team images
  &__img
  {	
    width: 100%;
	border-radius: 50%; 
	border: 15px solid transparent; 
	box-shadow: 2px 2px 0px rgba(0,0,0, 0.18);
    transition: all 0.1s ease-in;
    height: 50%;


    //when we hover on image a new image is shown
    &:hover{
        border: 15px solid rgb(9, 74, 139);
        z-index: 1;
        transition: all 0.3s ease-in;	
        height: 50%;
    }
  }



  //member grid space
  &__member {
      position: relative;
    width: 100%;

    
  }

  &__member:hover &__unhover-img
  {
      display: none;
  }

  &__member:hover &__hover-img
  {
      display: block;
  }

  //profile part of member
  &__profile {
    text-decoration: none;
    color:$color-white;
    transition: all 0.1s ease-in;
  }

  //when the image is hovered
  &__hover-img {
      display: none;
  }

  //designation of memebers
  &__designation {
    padding: 1rem 1rem .2rem 0;
	display: inline-block;
	background: #308be6;
	border-radius: 0px 16px 0px 16px;
	font-size: 1.8rem;
    color: $color-white;
    position: relative;
    top: -10rem;
    left: 3rem;
   

    
  }

  //first name
  &__h4 {
    font-size: 32px;
    font-weight: 700;
    color: $color-white;
    position: relative;
    top: -2rem;
    left: 10rem;
  }

  //second name part
  &__name {
    display: block;
    top: 1rem;
    font-size: 2rem;
    background: none;
    padding: 0;
    color: $color-white;
  }


  //list item / social icons
  &__list
  {
      position: relative;
      top: -2rem;
      padding: 1rem;
      left: 7rem;

  

  }

  &__item
  {
    display: inline-block; 
    padding: 0 6px;
    font-size: 3rem;
   


  }

  
  &__link
  {
    color: $color-white;
    transition: all 0.1s ease-in;

    &:hover{
        color: rgba(0,0,0, 0.7);

    }

  }
}
