//to adjust the iframe in the grid
iframe {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  overflow: hidden;
}

// for the video,js desgin

.video-js {
  font-size: 1.6rem;
  color: #cacaca;
  outline: none;
}

.video-js .vjs-play-control,
.video-js .vjs-remaining-time,
.video-js .vjs-volume-menu-button {
  border-right: 1px solid #323232;
}

.video-js .vjs-volume-menu-button .vjs-menu-content:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.video-js .vjs-volume-menu-button .vjs-menu-content {
  display: inline-block;
  vertical-align: middle;
}

/* The default color of control backgrounds is mostly black but with a little
   bit of blue so it can still be seen on all-black video frames, which are common. */

.video-js .vjs-control.vjs-play-control,
.video-js .vjs-control.vjs-play-control.vjs-playing,
.video-js .vjs-control.vjs-fullscreen-control,
.video-js .vjs-control.vjs-volume-menu-button,
.video-js .vjs-control.vjs-captions-button {
  outline: none;
}

.video-js .vjs-control-bar,
.video-js .vjs-menu-button .vjs-menu-content {
  /* IE8 - has no alpha support */
  background-color: #262626;
  /* Opacity: 1.0 = 100%, 0.0 = 0% */
  background-color: rgba(38, 38, 38, 0.9);
}

.video-js .vjs-control-bar {
  background-color: rgba(38, 38, 38, 0.9);
  width: auto;
  left: 4em;
  right: 4em;
  bottom: 2em;
  border-radius: 0.5em;
}
.video-js .vjs-control-bar:hover .vjs-progress-control {
  opacity: 1;
  top: -2.5em;
}
.video-js .vjs-control-bar .vjs-menu {
  z-index: 2;
  height: 100%;
}

.video-js.vjs-fullscreen .vjs-control-bar {
  bottom: 4em;
}

.video-js .vjs-current-time {
  display: block;
  position: absolute;
  right: 0;
  top: -2.5em;
}

/* Slider - used for Volume bar and Progress bar */
.video-js .vjs-slider {
  background-color: #2e2e2e;
  background-color: rgba(46, 46, 46, 0.8);
  border-radius: 1em;
  margin: 0;
}

.video-js .vjs-remaining-time {
  flex: 1;
  text-align: left;
}

/* The slider bar color is used for the progress bar and the volume bar
   (the first two can be removed after a fix that's coming) */
.video-js .vjs-play-progress,
.video-js .vjs-volume-level,
.video-js .vjs-slider-bar {
  background: transparent;
  border-radius: 1em;
}
.video-js .vjs-play-progress {
  background: white;
}
.video-js .vjs-volume-level {
  background: #fff;
  top: 2rem;
}

.video-js .vjs-play-progress {
  color: $color-white;
  background: $color-tertiary-dark-1;
  font-size: 1.3em;
}
.video-js .vjs-play-progress:before {
  transition: width 0.1s ease-out, height 0.1s ease-out;
  content: "";
  top: -0.2em;
  border: 0;
  background: radial-gradient($color-white 33%, $color-grey-light-2);
  width: 1em;
  height: 1em;
  border-radius: 50%;
  box-shadow: #000 0 0 2px;
}
.video-js .vjs-play-progress:hover:before {
  width: 1.1em;
  height: 1.1em;
  border: 2px solid transparent;
}

.video-js .vjs-progress-control {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  padding: 0 4em 0 0.4em;
  top: -2.3em;
  border-radius: 1em;
  transition: top 150ms linear, opacity 150ms linear, transform 150ms linear, -webkit-transform 150ms linear,
    -moz-transform 150ms linear, -o-transform 150ms linear;
  z-index: 1;
  opacity: 0;
}
.video-js .vjs-progress-control:hover .vjs-progress-holder {
  font-size: inherit;
}
.video-js .vjs-progress-control .vjs-mouse-display {
  background: #cacaca;
}

.video-js .vjs-time-tooltip {
  background: #cacaca !important;
  color: #b7090b;
}
.video-js .vjs-time-tooltip:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  border-top-color: #262626;
  border-width: 0.8em;
  right: 25%;
  margin-left: -0.8em;
}

.video-js .vjs-play-progress,
.video-js .vjs-load-progress {
  height: 0.7em !important;
}

.video-js .vjs-progress-holder {
  height: 0.9em;
}

/* The main progress bar also has a bar that shows how much has been loaded. */
.video-js .vjs-load-progress {
  /* For IE8 we'll lighten the color */
  background: #3a3a3a;
  /* Otherwise we'll rely on stacked opacities */
  background: rgba(46, 46, 46, 0.5);
  border-radius: 1em;
  height: 0.9em !important;
}

/* The load progress bar also has internal divs that represent
   smaller disconnected loaded time ranges */
.video-js .vjs-load-progress div {
  /* For IE8 we'll lighten the color */
  background: #3a3a3a;
  /* Otherwise we'll rely on stacked opacities */
  background: rgba(46, 46, 46, 0.75);
  border-radius: 1em;
  height: 0.9em !important;
}
