//to adjust the iframe in the grid
iframe
{
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    overflow: hidden;

}
.videocard{
    width: 100%;
    height: 100%;
    outline: none;
    overflow: hidden;
}
