.vcard {
  // for each video the info is hold by the vcard division
  width: 100%;
  height: 100%;
  border: 0.1rem solid black;
  box-shadow: 0rem 1rem 1rem rgba($color-tertiary-dark-2, 0.36);
  background-color: #fff;

  &--playlist{
    border: none;
  }
  // for the image division
  &--img {
    width: 100%;
    height: 20rem;
    border: 1px solid rgb(223, 179, 179);
    background-image: url("/img/error-1.png");
    background-size: cover;
    cursor: pointer;


    &--playlist {
      height: auto;
      &1{
        height: 30rem;
      }
    }
  }

  &--playicon {
    color: rgba($color-black, 0.4);
    font-size: 5rem;
    z-index: 1;
    display: inline-block;
    position: relative;
    left: 44%;
  }
  // tag for identifying the type of video category
  &--tag {
    font-size: 2rem;
    font-weight: 700;
    color: white;
    padding: 1rem;
    position: relative;
    width: 50%;
    top: 73.5%;
    left: 0;

    // for add video 
    &--addvideo{
      top: 71%;
    }



    &--playlist {
      background-color: rgba($color-black, 0.8);
      width: 100%;
      text-align: center;
      @include respond(phone){
    top: 66%;

      }
    }

    &--learning {
      background-color: $color-primary-dark;
    }
    &--event {
      background-color: $color-tertiary-dark;
    }
    &--club {
      background-color: $color-secondary-dark;
    }
    &--dashboard {
      box-shadow: 1rem 1rem 5rem rgba($color-tertiary-dark-2, 0.36);
    }
  }
  // division for storing the video info
  &__info {
    padding: 2rem;
    font-size: 1.7rem;
    width: 100%;
    @include respond(phone) {
      font-size: 1.7rem;
    }
    // fot the title
    &--title {
      font-size: 2.12rem;
      text-align: start;
      font-weight: bold;
      color: $color-primary-dark-1;

      @include respond(phone) {
        font-size: 1.8rem;
      }
    }
    //descrpition of the video uploaded...
    &--des {
      height: 50rem;
    }
  }

  // the tag width increases with change in bgcolor
  &:hover .vcard--tag--dashboard {
    transition: all 0.5s;
    width: 100%;
    background-color: $color-red;
  }
  &:hover {
    transition: all 0.5s;
    transform: translateY(-0.1rem);
  }
  // when hovered thw delete video display
  &:hover .videodelete {
    display: inline;
  }
}
